{% extends 'layout.html' %}

{% block title %}Details Paciente{% endblock %}

{% block body %}

  <!-- Static title -->
  <a href="{{ url_for('paciente.inicio', id=get_pac.id_paciente) }}">Volver</a>
  <a href="{{ url_for('paciente.perfil', id=get_pac.id_paciente) }}">Perfil</a>
  <h1>Detalle Comida</h1>
  <!-- // -->

        {{ date_formatted }}

        <!-- Formato del tipo de Comida -->
        {% if datos[0].tipo == "D" %}
            <h3>Desayuno</h3>
        {% elif datos[0].tipo == "A" %}
            <h3>Almuerzo</h3>
        {% elif datos[0].tipo_alimento == "C" %}
            <h3>Cena</h3>
        {% elif datos[0].tipo_alimento == "M" %}
            <h3>Merienda</h3>
        {% endif %}
        <!-- // -->

        <div class="form-group" value="">
            <label>Proteinas</label>
            {% set has_proteinas = false %}
            {% for comida in datos %}
                {% if comida.tipo_alimento == "Proteina" %}
                    {% set has_proteinas = true %}
                    <li>{{ comida.nombre }} {{ comida.cantidad }}</li>
                {% endif %}
            {% endfor %}
            {% if not has_proteinas %}
                <li>None</li>
            {% endif %}
        </div>       

        <div>-----------</div>
        
        <div class="form-group" value="">
            <label>Carbohidratos</label>
            {% set has_carbohidratos = false %}
            {% for comida in datos %}
                {% if comida.tipo_alimento == "Carbohidrato" %}
                    {% set has_carbohidratos = true %}
                    <li>{{ comida.nombre }} {{ comida.cantidad }}</li>
                {% endif %}
            {% endfor %}
            {% if not has_carbohidratos %}
                <li>None</li>
            {% endif %}
        </div>

        <div>-----------</div>
        
        <div class="form-group" value="">
            <label>Vegetales</label>
            {% set has_vegetales = false %}
            {% for comida in datos %}
                {% if comida.tipo_alimento == "Vegetal" %}
                    {% set has_vegetales = true %}
                    <li>{{ comida.nombre }} {{ comida.cantidad }}</li>
                {% endif %}
            {% endfor %}
            {% if not has_vegetales %}
                <li>None</li>
            {% endif %}
        </div>

        <div>-----------</div>
        
        <div class="form-group" value="">
            <label>Frutas</label>
            {% set has_frutas = false %}
            {% for comida in datos %}
                {% if comida.tipo_alimento == "Fruta" %}
                    {% set has_frutas = true %}
                    <li>{{ comida.nombre }} {{ comida.cantidad }}</li>
                {% endif %}
            {% endfor %}
            {% if not has_frutas %}
                <li>None</li>
            {% endif %}
        </div>

        <div>-----------</div>
        
        <div class="form-group" value="">
            <label>Grasas</label>
            {% set has_grasas = false %}
            {% for comida in datos %}
                {% if comida.tipo_alimento == "Grasa" %}
                    {% set has_grasas = true %}
                    <li>{{ comida.nombre }} {{ comida.cantidad }}</li>
                {% endif %}
            {% endfor %}
            {% if not has_grasas %}
                <li>None</li>
            {% endif %}
        </div>

        <div>-----------</div>
        
        <div class="form-group" value="">
            <label>Bebidas</label>
            {% set has_bebidas = false %}
            {% for comida in datos %}
                {% if comida.tipo_alimento == "Bebida" %}
                    {% set has_bebidas = true %}
                    <li>{{ comida.nombre }} {{ comida.cantidad }}</li>
                {% endif %}
            {% endfor %}
            {% if not has_bebidas %}
                <li>None</li>
            {% endif %}
        </div>

        <div>-----------</div>
        
        <div class="form-group" value="">
            <label>Dulce</label>
            {% set has_dulce = false %}
            {% for comida in datos %}
                {% if comida.tipo_alimento == "Dulce" %}
                    {% set has_dulce = true %}
                    <li>{{ comida.nombre }} {{ comida.cantidad }}</li>
                {% endif %}
            {% endfor %}
            {% if not has_dulce %}
                <li>None</li>
            {% endif %}
        </div>
        
        <div>-----------</div>

        <div class="form-group" value="">
            <label>Otros</label>
            {% set has_otros = false %}
            {% for comida in datos %}
                {% if comida.tipo_alimento == "Otros" %}
                    {% set has_otros = true %}
                    <li>{{ comida.nombre }} {{ comida.cantidad }}</li>
                {% endif %}
            {% endfor %}
            {% if not has_otros %}
                <li>None</li>
            {% endif %}
        </div>

        <h1>Satisfaccion</h1>
        <li>{{datos[0].satisfaccion}}</li>

        <h1>Comentario</h1>
        <li>{{datos[0].comentario}}</li>

{% endblock %}