{% extends 'layout.html' %}

{% block title %}Details Paciente{% endblock %}

{% block body %}

  <!-- Static title -->
  <a href="{{ url_for('paciente.inicio', id=get_pac.id_paciente) }}">Volver</a>
  <a href="{{ url_for('paciente.perfil', id=get_pac.id_paciente) }}">Perfil</a>
  <h1>Detalle Comida</h1>
  <!-- // -->

        {{ date_formatted }}

        <!-- Formato del tipo de Comida -->
        {% if datos.tipo == "D" %}
            <h3>Desayuno</h3>
        {% elif datos.tipo == "A" %}
            <h3>Almuerzo</h3>
        {% elif datos.tipo_alimento == "C" %}
            <h3>Cena</h3>
        {% elif datos.tipo_alimento == "M" %}
            <h3>Merienda</h3>
        {% endif %}
        <!-- // -->

        <div class="form-group" value="">
            <label>Proteinas</label>
            {% for comida in datos %}
            {% if comida.tipo_alimento == "Proteina" %}            
                <li>{{ comida.nombre }} {{ comida.cantidad }}</li>
            {% endif %}
          {% endfor %}
        </div>       
        
        

        <h1>Satisfaccion</h1>
        {{datos.satisfaccion}}
        <div>-----------</div>
        <h1>Comentario</h1>
        {{datos.comentario}}

{% endblock %}