{% extends 'layout.html' %}

{% block title %}Home Paciente{% endblock %}

{% block body %}

<a href="{{url_for('paciente.especialistas', id=get_pac.id_paciente)}}">Especialistas</a> 
<a href="{{url_for('paciente.addFood', id=get_pac.id_paciente)}}">Agregar Comida</a>

<!-- data from the person -->
<h1>Paciente</h1>
<h1>Bienvenido de Nuevo</h1>
<span>{{get_pac.pri_nombre}} {{get_pac.pri_apellido}}</span>
<!-- // -->

<h2>---------------------------</h2>
<h2>Mis comidas</h2>
<h3>{{ formatted_date }}</h3>

<a href="{{ url_for('paciente.perfil', id=get_pac.id_paciente)}}">Perfil</a>

<!-- Barra de buscador -->
<form action="{{url_for('paciente.inicio', id=get_pac.id_paciente)}}" method="POST">
        <input type="text" placeholder="Agust, 23 2023" name="pac-fecha" required>
        <button type="submit" class="btn btn-primary">Buscar</button>
</form>
<!-- // -->

<!-- FIXME: Falta update y delete de cada producto -->

<!-- Resultados de busqueda -->
<ul>
    {{ date }}
    {% for comida in tipo %}
      <li>
        {% if comida.tipo == "D" %}
            <span>Desayuno</span>
        {% endif %}
        {% if comida.tipo == "A" %}
            <span>Almuerzo</span>
        {% endif %}
        {% if comida.tipo == "C" %}
            <span>Cena</span>
        {% endif %}
        {% if comida.tipo == "M" %}
            <span>Merienda</span>
        {% endif %}

        <a href="{{ url_for('paciente.foodDetail', id=get_pac.id_paciente, date=comida.fecha_ini) }}">></a> 
        <a href="/#">update</a> 
        <a href="/#">delete</a>
    </li>
    {% endfor %}
</ul>
<!-- // -->
 
{% endblock %}