{% extends 'layout.html' %}

{% block title %}Home Paciente{% endblock %}

{% block body %}

<h1>Mis comidas</h1>
<h3>{{ formatted_date }}</h3>
<a href="{{ url_for('paciente.perfil', id=result.id_paciente)}}">Perfil</a>

<!-- Barra de buscador -->
<form action="{{url_for('paciente.inicio', id=result.id_paciente)}}" method="POST">
        <input type="text" placeholder="Agust, 23 2023" name="pac-fecha" required>
        <button type="submit" class="btn btn-primary">Buscar</button>
</form>
<!-- // -->

<!-- FIXME: Falta update y delete de cada producto -->

<!-- Resultados de busqueda -->
<ul>
    {{ date }}
    {% for comida in tipo %}
      <li>
        {% if comida.tipo == "D" %}
            <span>Desayuno</span>
        {% endif %}
        {% if comida.tipo == "A" %}
            <span>Almuerzo</span>
        {% endif %}
        {% if comida.tipo == "C" %}
            <span>Cena</span>
        {% endif %}
        {% if comida.tipo == "M" %}
            <span>Merienda</span>
        {% endif %}

        <a href="{{ url_for('paciente.detalleComida', id=result.id_paciente, date=fecha, comida=comida.id_comida) }}">></a> 
        <a href="/#">update</a> 
        <a href="/#">delete</a>
    </li>
    {% endfor %}
</ul>
<!-- // -->

<h1>---Borrar---</h1>

<!-- data from the person -->
<p>{{result.pri_nombre}}</p>
<p>{{result.id_paciente}}</p>
<h1>Paciente</h1>
<!-- // -->

<h1>---Hasta Aqui---</h1>

{% endblock %}